@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 91px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.header img {
  margin-left: 25px;
}
.header nav {
  display: flex;
  gap: 200px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin-right: 75px;
}
@media screen and (max-width: 1285px) {
  .header nav {
    gap: 150px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 1150px) {
  .header nav {
    gap: 100px;
    margin-right: 50px;
  }
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 117px;
  height: 100%;
  background-color: black;
  gap: 100px;
}
.sidebar .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  gap: 20px;
}
.sidebar p {
  color: white;
  font-size: 12px;
  writing-mode: vertical-rl; /* Rend le texte vertical */
  transform: rotate(180deg); /* Inverse le sens pour que le texte monte */
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  position: absolute;
}
.hello h1 {
  font-size: 3rem;
  margin-left: 200px;
  margin-top: 40px;
}
.hello .name {
  color: #FF0101;
}
.hello p {
  margin-left: 200px;
  margin-top: 20px;
}

/** Graphique à Barres **/
.activity-chart {
  position: absolute;
  top: 460px;
  right: -55px;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 25px;
}
@media screen and (max-width: 1285px) {
  .activity-chart {
    right: -70px;
  }
}
@media screen and (max-width: 1150px) {
  .activity-chart {
    right: -90px;
  }
}
.activity-chart .chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.activity-chart .chart-header h2 {
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
}
.activity-chart .chart-header .legend {
  display: flex;
  gap: 15px;
  margin-right: 15px;
}
.activity-chart .chart-header .legend .legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #74798c;
}
.activity-chart .chart-header .legend .legend-item .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
.activity-chart .chart-header .legend .legend-item .black {
  background-color: #282d30;
}
.activity-chart .chart-header .legend .legend-item .red {
  background-color: #E60000;
}

/** InfoBulle **/
.custom-tooltip {
  background: #E60000;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.average-chart {
  position: absolute;
  top: 815px;
  left: 18.5%;
  width: 18%;
  transform: translate(-25%, -50%);
  background-color: #ff0000;
  border-radius: 5px;
}
@media screen and (max-width: 1285px) {
  .average-chart {
    left: 20%;
  }
}
@media screen and (max-width: 1150px) {
  .average-chart {
    left: 23%;
  }
}

/** InfoBulle **/
.custom-tooltip-two {
  background: #FFFFFF;
  color: #000;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
}

.performance-chart {
  position: absolute;
  top: 815px;
  left: 39.4%;
  transform: translate(-25%, -50%);
  background-color: #282D30;
  border-radius: 5px;
  width: 18%;
}
@media screen and (max-width: 1285px) {
  .performance-chart {
    left: 41.5%;
  }
}
@media screen and (max-width: 1150px) {
  .performance-chart {
    left: 44.2%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, Arial, sans-serif;
}

.error404 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 350px;
}
@media screen and (max-width: 1285px) {
  .error404 {
    margin-left: 250px;
  }
}
@media screen and (max-width: 1150px) {
  .error404 {
    margin-left: 200px;
  }
}
.error404__title {
  font-size: 15rem;
  color: black;
}
.error404__group {
  height: 165px;
}
.error404__message {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  margin-top: 4.5rem;
  margin-bottom: 7rem;
}
@media screen and (max-width: 1150px) {
  .error404__message {
    margin-left: 200px;
  }
}
.error404__link {
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.error404__link:hover {
  color: red;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */