/** Graphique à Barres **/
.activity-chart {
  position: absolute;
  top: 460px;
  right: -40px;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 25px;

  @media screen and (max-width: 1285px) {
    right: -70px;
  }
  @media screen and (max-width: 1150px) {
    right: -120px;
    width: 65%;
  }
  
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    h2 {
      font-size: 15px;
      font-weight: 500;
      color: #20253a;
    }

    .legend {
      display: flex;
      gap: 15px;
      margin-right: 15px;

      .legend-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #74798c;

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 8px;
        }

        .black {
          background-color: #282d30;
        }

        .red {
          background-color: #E60000;
        }
      }
    }
  }
 
}

/** InfoBulle **/
.custom-tooltip.default {
  background: #E60000;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
