.hello {
    position: absolute;
    
    h1 {
        font-size: 3rem;
        margin-left: 180px;
        margin-top: 30px;

        @media screen and (max-width: 1150px) {
            margin-left: 150px;
            margin-top: 10px;
        }
    }

    .name {
        color: #FF0101;
    }

    p {
        margin-left: 180px;
        margin-top: 10px;

        @media screen and (max-width: 1150px) {
            margin-left: 150px;
            margin-top: 7px;
        }
    }
}