@use '../utils/keyframe' as keyframe;

.loading {
    position: absolute;
    margin-left: 350px;
    margin-top: 150px; 
    color: #018abb; 
    font-size: 1.75rem;
    font-weight: bold; 
    text-align: center;
    p {
        margin: 0;
        animation: fadeIn 1.5s ease-in-out infinite; 
    }
    @media screen and (max-width: 1150px) {
        margin-left: 400px;
      }
}


