.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 117px;
    height: 100%;
    background-color: black;
    gap: 70px;

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
        gap: 25px;

        @media screen and (max-width: 1150px) {
            margin-top: 128px;
        }
    }
    
    p {
        color: white;
        font-size: 12px;
        writing-mode: vertical-rl; /* Rend le texte vertical */
        transform: rotate(180deg); /* Inverse le sens pour que le texte monte */
        text-align: center; 
        margin-top: 80px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1150px) {
            font-size: 10px;
            margin-top: 6px;
            margin-bottom: 48.5px;
        }
    }
}